body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

* {
    box-sizing: border-box
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
    min-height: 300px;
}

.logWindow {
    background-color: white;
    overflow: scroll;
}

.publicGroupsTable {
    margin: auto;
}

.publicGroupsTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}
  
.publicGroupsTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.publicGroupsTable tr:nth-child(even) {
    background-color: #dddddd;
}

.messages {
    background-color: black;
    padding: 10px;
    height: 80%;
    overflow: auto;
}
.messageList {
    margin: auto;
    overflow: auto;
    border-radius: 15px;
}

.mMessage {
    background: linear-gradient(90deg, rgba(116,215,132,1) 1%, rgba(0,212,255,0) 100%);
    text-align: left;
    border-radius: 10px;
}

.rFrom {
    background: linear-gradient(90deg, rgba(194,138,53,0) 81%, rgba(67,120,166,1) 100%);
    text-align: right;
    font-weight: bolder;
}

.rMessage {
    background: linear-gradient(90deg, rgba(194,138,53,0) 81%, rgba(67,120,166,1) 100%);
    text-align: right;
}
.rText {
    background: linear-gradient(90deg, rgba(194,138,53,0) 81%, rgba(67,120,166,1) 100%);
    text-align: right;
}

.mTime {
    font-family: arial, sans-serif;
    font-size: smaller;
    text-align: center;
    background: linear-gradient(90deg, rgba(139,139,139,0) 5%, rgba(207,202,202,1) 44%, rgba(0,212,255,0) 100%);    
}

.emptyDiv {
    height:20px;
    background-color: white;
}


