.col{
    min-width: 433px; 
    max-width: 443px;
}
.card{
    margin-top: 0px; margin-bottom: 0px;
}
.row card-content{
    margin-bottom: 0px; margin-top: 10px;
}
.log{
    position: relative;
    position: absolute;
    left: 440px;  /* Set distance from right */
    top: 65px; /* Set distance from top */
    max-width: 443px;
}
.messages{
    position: absolute;
    left: 880px;
    top: 65px;
}
.groups{
    min-width: 433px; 
    max-width: 443px;
}